.Picker{
  display: flex;
  justify-content: center;
}

.Bouton{
  position: absolute;
  top: 30%;
  left: 50%;
  color: #fff;
  background-color: red;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  
}